In [4]:
import pandas as pd
df = pd.read_clipboard()

In [5]:
df

                       Species        Abbreviation  Alignment depth
0        Achnatherum splendens        A. splendens                2
1             Aegilops searsii          A. searsii                1
2          Alopecurus aequalis         A. aequalis                1
3          Avena sativa ot3098    A. sativa.ot3098                3
4      Brachypodium distachyon       B. distachyon                1
5              Bromus tectorum         B. tectorum                1
6           Cenchrus macrourus        C. macrourus                2
7              Chloris virgata          C. virgata                1
8            Coix lacryma-jobi     C. lacryma-jobi                2
9           Echinochloa colona           E. colona                3
10              Eragrostis tef              E. tef                2
11             Hordeum marinum          H. marinum                1
12            Leersia perrieri         L. perrieri                2
13              Lolium perenne          L. perenne                1
14  Miscanthus lutarioriparius  M. lutarioriparius                2
15                Oryza sativa           O. sativa                1
16              Panicum hallii           P. hallii                1
17                   Poa annua            P. annua                2
18        Saccharum spontaneum       S. spontaneum                4
19              Secale cereale          S. cereale                1
20             Setaria italica          S. italica                1
21             Setaria viridis          S. viridis                1
22             Sorghum bicolor          S. bicolor                1
23        Thinopyrum elongatum        T. elongatum                1
24         Triticum monococcum       T. monococcum                1
25                    Zea mays             Z. mays                2
26           Zizania latifolia        Z. latifolia                2
27        Joinvillea ascendens        J. ascendens                1

In [6]:
species_alignment_depth_dict = df.set_index('Species')['Alignment depth'].to_dict()

In [7]:
species_alignment_depth_dict

{'Achnatherum splendens': 2,
 'Aegilops searsii': 1,
 'Alopecurus aequalis': 1,
 'Avena sativa ot3098': 3,
 'Brachypodium distachyon': 1,
 'Bromus tectorum': 1,
 'Cenchrus macrourus': 2,
 'Chloris virgata': 1,
 'Coix lacryma-jobi': 2,
 'Echinochloa colona': 3,
 'Eragrostis tef': 2,
 'Hordeum marinum': 1,
 'Leersia perrieri': 2,
 'Lolium perenne': 1,
 'Miscanthus lutarioriparius': 2,
 'Oryza sativa': 1,
 'Panicum hallii': 1,
 'Poa annua': 2,
 'Saccharum spontaneum': 4,
 'Secale cereale': 1,
 'Setaria italica': 1,
 'Setaria viridis': 1,
 'Sorghum bicolor': 1,
 'Thinopyrum elongatum': 1,
 'Triticum monococcum': 1,
 'Zea mays': 2,
 'Zizania latifolia': 2,
 'Joinvillea ascendens': 1}

In [60]:
query_species_equal_ref_depth = '"Coix.lacryma.jobi" "Oryza.sativa" "Cenchrus.macrourus" "Setaria.viridis" "Thinopyrum.elongatum" "Triticum.monococcum" "Panicum.hallii" "Sorghum.bicolor" "Oryza.sativa" "Thinopyrum.elongatum" "Cenchrus.macrourus" "Bromus.tectorum" "Zea.mays" "Setaria.italica" "Avena.sativa.ot3098" "Panicum.hallii" "Setaria.viridis" "Sorghum.bicolor" "Cenchrus.macrourus" "Lolium.perenne" "Panicum.hallii" "Triticum.monococcum" "Panicum.hallii" "Thinopyrum.elongatum" "Thinopyrum.elongatum" "Cenchrus.macrourus" "Setaria.italica" "Panicum.hallii" "Leersia.perrieri" "Panicum.hallii"'
import re
query_species_equal_ref_depth = query_species_equal_ref_depth.replace('"', '')
ref_depth_sp_list = query_species_equal_ref_depth.split(" ")
ref_depth_sp_list = [i.replace('.', ' ')  for i in ref_depth_sp_list]
print(ref_depth_sp_list)

['Coix lacryma jobi', 'Oryza sativa', 'Cenchrus macrourus', 'Setaria viridis', 'Thinopyrum elongatum', 'Triticum monococcum', 'Panicum hallii', 'Sorghum bicolor', 'Oryza sativa', 'Thinopyrum elongatum', 'Cenchrus macrourus', 'Bromus tectorum', 'Zea mays', 'Setaria italica', 'Avena sativa ot3098', 'Panicum hallii', 'Setaria viridis', 'Sorghum bicolor', 'Cenchrus macrourus', 'Lolium perenne', 'Panicum hallii', 'Triticum monococcum', 'Panicum hallii', 'Thinopyrum elongatum', 'Thinopyrum elongatum', 'Cenchrus macrourus', 'Setaria italica', 'Panicum hallii', 'Leersia perrieri', 'Panicum hallii']

In [61]:
ref_depth = []
species_alignment_depth_dict["Coix lacryma jobi"] = 2
for i in ref_depth_sp_list:
    value_ = species_alignment_depth_dict[i]
    ref_depth.append('"{}"'.format(value_))
for i in ref_depth:
    print(i, end=" ")

"2" "1" "2" "1" "1" "1" "1" "1" "1" "1" "2" "1" "2" "1" "3" "1" "1" "1" "2" "1" "1" "1" "1" "1" "1" "2" "1" "1" "2" "1"

In [56]:
ref_species_equal_query_depth = '"Aegilops.searsii" "Aegilops.searsii" "Aegilops.searsii" "Saccharum.spontaneum" "Chloris.virgata" "Oryza.sativa" "Eragrostis.tef" "Echinochloa.colona" "Brachypodium.distachyon" "Coix.lacryma.jobi" "Achnatherum.splendens" "Avena.sativa.ot3098" "Triticum.monococcum" "Chloris.virgata" "Setaria.italica" "Cenchrus.macrourus" "Secale.cereale" "Setaria.viridis" "Saccharum.spontaneum" "Sorghum.bicolor" "Setaria.italica" "Leersia.perrieri" "Echinochloa.colona" "Achnatherum.splendens" "Saccharum.spontaneum" "Hordeum.marinum" "Poa.annua" "Saccharum.spontaneum" "Setaria.italica" "Setaria.viridis"'
print(ref_species_equal_query_depth)
import re
ref_species_equal_query_depth = ref_species_equal_query_depth.replace('"', '')
query_depth_sp_list = ref_species_equal_query_depth.split(" ")
query_depth_sp_list = [i.replace('.', ' ')  for i in query_depth_sp_list]
print(query_depth_sp_list)

"Aegilops.searsii" "Aegilops.searsii" "Aegilops.searsii" "Saccharum.spontaneum" "Chloris.virgata" "Oryza.sativa" "Eragrostis.tef" "Echinochloa.colona" "Brachypodium.distachyon" "Coix.lacryma.jobi" "Achnatherum.splendens" "Avena.sativa.ot3098" "Triticum.monococcum" "Chloris.virgata" "Setaria.italica" "Cenchrus.macrourus" "Secale.cereale" "Setaria.viridis" "Saccharum.spontaneum" "Sorghum.bicolor" "Setaria.italica" "Leersia.perrieri" "Echinochloa.colona" "Achnatherum.splendens" "Saccharum.spontaneum" "Hordeum.marinum" "Poa.annua" "Saccharum.spontaneum" "Setaria.italica" "Setaria.viridis"
['Aegilops searsii', 'Aegilops searsii', 'Aegilops searsii', 'Saccharum spontaneum', 'Chloris virgata', 'Oryza sativa', 'Eragrostis tef', 'Echinochloa colona', 'Brachypodium distachyon', 'Coix lacryma jobi', 'Achnatherum splendens', 'Avena sativa ot3098', 'Triticum monococcum', 'Chloris virgata', 'Setaria italica', 'Cenchrus macrourus', 'Secale cereale', 'Setaria viridis', 'Saccharum spontaneum', 'Sorghum bicolor', 'Setaria italica', 'Leersia perrieri', 'Echinochloa colona', 'Achnatherum splendens', 'Saccharum spontaneum', 'Hordeum marinum', 'Poa annua', 'Saccharum spontaneum', 'Setaria italica', 'Setaria viridis']

In [58]:
query_depth = []
for i in query_depth_sp_list:
    value_ = species_alignment_depth_dict[i]
    query_depth.append('"{}"'.format(value_))
for i in query_depth:
    print(i, end=" ")

"1" "1" "1" "4" "1" "1" "2" "3" "1" "2" "2" "3" "1" "1" "1" "2" "1" "1" "4" "1" "1" "2" "3" "2" "4" "1" "2" "4" "1" "1"

In [57]:
query_depth_sp_list

['Aegilops searsii',
 'Aegilops searsii',
 'Aegilops searsii',
 'Saccharum spontaneum',
 'Chloris virgata',
 'Oryza sativa',
 'Eragrostis tef',
 'Echinochloa colona',
 'Brachypodium distachyon',
 'Coix lacryma jobi',
 'Achnatherum splendens',
 'Avena sativa ot3098',
 'Triticum monococcum',
 'Chloris virgata',
 'Setaria italica',
 'Cenchrus macrourus',
 'Secale cereale',
 'Setaria viridis',
 'Saccharum spontaneum',
 'Sorghum bicolor',
 'Setaria italica',
 'Leersia perrieri',
 'Echinochloa colona',
 'Achnatherum splendens',
 'Saccharum spontaneum',
 'Hordeum marinum',
 'Poa annua',
 'Saccharum spontaneum',
 'Setaria italica',
 'Setaria viridis']

In [64]:
file_ = "Achnatherum.splendens1_Thinopyrum.elongatum2 Achnatherum.splendens2_Cenchrus.macrourus2 Aegilops.searsii1_Oryza.sativa1 Aegilops.searsii2_Cenchrus.macrourus1 Aegilops.searsii2_Coix.lacryma.jobi1 Avena.sativa.ot30981_Bromus.tectorum3 Brachypodium.distachyon1_Oryza.sativa1 Cenchrus.macrourus1_Panicum.hallii2 Chloris.virgata1_Setaria.italica1 Chloris.virgata1_Thinopyrum.elongatum1 Coix.lacryma.jobi1_Thinopyrum.elongatum2 Echinochloa.colona1_Panicum.hallii3 Echinochloa.colona1_Sorghum.bicolor3 Eragrostis.tef1_Panicum.hallii2 Hordeum.marinum2_Cenchrus.macrourus1 Leersia.perrieri1_Triticum.monococcum2 Oryza.sativa1_Triticum.monococcum1 Poa.annua1_Setaria.italica2 Saccharum.spontaneum1_Panicum.hallii4 Saccharum.spontaneum1_Setaria.viridis4 Saccharum.spontaneum1_Thinopyrum.elongatum4 Saccharum.spontaneum2_Cenchrus.macrourus4 Secale.cereale1_Setaria.viridis1 Setaria.italica1_Panicum.hallii1 Setaria.italica2_Leersia.perrieri1 Setaria.italica3_Avena.sativa.ot30981 Setaria.viridis1_Panicum.hallii1 Setaria.viridis1_Sorghum.bicolor1 Sorghum.bicolor1_Lolium.perenne1 Triticum.monococcum2_Zea.mays1"
file_list = file_.split(" ")
print(file_list)
for i in file_list:
    print('"{}"'.format(i), end=" ")

['Achnatherum.splendens1_Thinopyrum.elongatum2', 'Achnatherum.splendens2_Cenchrus.macrourus2', 'Aegilops.searsii1_Oryza.sativa1', 'Aegilops.searsii2_Cenchrus.macrourus1', 'Aegilops.searsii2_Coix.lacryma.jobi1', 'Avena.sativa.ot30981_Bromus.tectorum3', 'Brachypodium.distachyon1_Oryza.sativa1', 'Cenchrus.macrourus1_Panicum.hallii2', 'Chloris.virgata1_Setaria.italica1', 'Chloris.virgata1_Thinopyrum.elongatum1', 'Coix.lacryma.jobi1_Thinopyrum.elongatum2', 'Echinochloa.colona1_Panicum.hallii3', 'Echinochloa.colona1_Sorghum.bicolor3', 'Eragrostis.tef1_Panicum.hallii2', 'Hordeum.marinum2_Cenchrus.macrourus1', 'Leersia.perrieri1_Triticum.monococcum2', 'Oryza.sativa1_Triticum.monococcum1', 'Poa.annua1_Setaria.italica2', 'Saccharum.spontaneum1_Panicum.hallii4', 'Saccharum.spontaneum1_Setaria.viridis4', 'Saccharum.spontaneum1_Thinopyrum.elongatum4', 'Saccharum.spontaneum2_Cenchrus.macrourus4', 'Secale.cereale1_Setaria.viridis1', 'Setaria.italica1_Panicum.hallii1', 'Setaria.italica2_Leersia.perrieri1', 'Setaria.italica3_Avena.sativa.ot30981', 'Setaria.viridis1_Panicum.hallii1', 'Setaria.viridis1_Sorghum.bicolor1', 'Sorghum.bicolor1_Lolium.perenne1', 'Triticum.monococcum2_Zea.mays1']
"Achnatherum.splendens1_Thinopyrum.elongatum2" "Achnatherum.splendens2_Cenchrus.macrourus2" "Aegilops.searsii1_Oryza.sativa1" "Aegilops.searsii2_Cenchrus.macrourus1" "Aegilops.searsii2_Coix.lacryma.jobi1" "Avena.sativa.ot30981_Bromus.tectorum3" "Brachypodium.distachyon1_Oryza.sativa1" "Cenchrus.macrourus1_Panicum.hallii2" "Chloris.virgata1_Setaria.italica1" "Chloris.virgata1_Thinopyrum.elongatum1" "Coix.lacryma.jobi1_Thinopyrum.elongatum2" "Echinochloa.colona1_Panicum.hallii3" "Echinochloa.colona1_Sorghum.bicolor3" "Eragrostis.tef1_Panicum.hallii2" "Hordeum.marinum2_Cenchrus.macrourus1" "Leersia.perrieri1_Triticum.monococcum2" "Oryza.sativa1_Triticum.monococcum1" "Poa.annua1_Setaria.italica2" "Saccharum.spontaneum1_Panicum.hallii4" "Saccharum.spontaneum1_Setaria.viridis4" "Saccharum.spontaneum1_Thinopyrum.elongatum4" "Saccharum.spontaneum2_Cenchrus.macrourus4" "Secale.cereale1_Setaria.viridis1" "Setaria.italica1_Panicum.hallii1" "Setaria.italica2_Leersia.perrieri1" "Setaria.italica3_Avena.sativa.ot30981" "Setaria.viridis1_Panicum.hallii1" "Setaria.viridis1_Sorghum.bicolor1" "Sorghum.bicolor1_Lolium.perenne1" "Triticum.monococcum2_Zea.mays1"

In [72]:
species = "Achnatherum.splendens1_Thinopyrum.elongatum2 Achnatherum.splendens2_Cenchrus.macrourus2 Aegilops.searsii1_Oryza.sativa1 Aegilops.searsii2_Cenchrus.macrourus1 Aegilops.searsii2_Coix.lacryma.jobi1 Avena.sativa.ot30981_Bromus.tectorum3 Brachypodium.distachyon1_Oryza.sativa1 Cenchrus.macrourus1_Panicum.hallii2 Chloris.virgata1_Setaria.italica1 Chloris.virgata1_Thinopyrum.elongatum1 Coix.lacryma.jobi1_Thinopyrum.elongatum2 Echinochloa.colona1_Panicum.hallii3 Echinochloa.colona1_Sorghum.bicolor3 Eragrostis.tef1_Panicum.hallii2 Hordeum.marinum2_Cenchrus.macrourus1 Leersia.perrieri1_Triticum.monococcum2 Oryza.sativa1_Triticum.monococcum1 Poa.annua1_Setaria.italica2 Saccharum.spontaneum1_Panicum.hallii4 Saccharum.spontaneum1_Setaria.viridis4 Saccharum.spontaneum1_Thinopyrum.elongatum4 Saccharum.spontaneum2_Cenchrus.macrourus4 Secale.cereale1_Setaria.viridis1 Setaria.italica1_Panicum.hallii1 Setaria.italica2_Leersia.perrieri1 Setaria.italica3_Avena.sativa.ot30981 Setaria.viridis1_Panicum.hallii1 Setaria.viridis1_Sorghum.bicolor1 Sorghum.bicolor1_Lolium.perenne1 Triticum.monococcum2_Zea.mays1"
species_list = species.split(" ")
for i in species_list:
    i = i[:-1]
    i = re.sub(r'\d_','_', i)
    
    ref_ = i.split("_")[0]
    new_ref_ = ""
    first_sub_str = True
    for sub_str in ref_.split("."):
        if first_sub_str:
            new_ref_ = sub_str[0] + "." + " "
            first_sub_str = False
        else:
            new_ref_ += sub_str + "."
    new_ref_ = new_ref_[:-1]

    query_ = i.split("_")[1]
    new_query_ = ""
    first_sub_str = True
    for sub_str in query_.split("."):
        if first_sub_str:
            new_query_ = sub_str[0] + "." + " "
            first_sub_str = False
        else:
            new_query_ += sub_str + "."
    new_query_ = new_query_[:-1]

    final_ = new_ref_ + " " + "vs" + " " + new_query_
    print('"{}"'.format(final_), end=" ")

"A. splendens vs T. elongatum" "A. splendens vs C. macrourus" "A. searsii vs O. sativa" "A. searsii vs C. macrourus" "A. searsii vs C. lacryma.jobi" "A. sativa.ot3098 vs B. tectorum" "B. distachyon vs O. sativa" "C. macrourus vs P. hallii" "C. virgata vs S. italica" "C. virgata vs T. elongatum" "C. lacryma.jobi vs T. elongatum" "E. colona vs P. hallii" "E. colona vs S. bicolor" "E. tef vs P. hallii" "H. marinum vs C. macrourus" "L. perrieri vs T. monococcum" "O. sativa vs T. monococcum" "P. annua vs S. italica" "S. spontaneum vs P. hallii" "S. spontaneum vs S. viridis" "S. spontaneum vs T. elongatum" "S. spontaneum vs C. macrourus" "S. cereale vs S. viridis" "S. italica vs P. hallii" "S. italica vs L. perrieri" "S. italica vs A. sativa.ot3098" "S. viridis vs P. hallii" "S. viridis vs S. bicolor" "S. bicolor vs L. perenne" "T. monococcum vs Z. mays"

In [73]:
species_alignment_depth_dict

{'Achnatherum splendens': 2,
 'Aegilops searsii': 1,
 'Alopecurus aequalis': 1,
 'Avena sativa ot3098': 3,
 'Brachypodium distachyon': 1,
 'Bromus tectorum': 1,
 'Cenchrus macrourus': 2,
 'Chloris virgata': 1,
 'Coix lacryma-jobi': 2,
 'Echinochloa colona': 3,
 'Eragrostis tef': 2,
 'Hordeum marinum': 1,
 'Leersia perrieri': 2,
 'Lolium perenne': 1,
 'Miscanthus lutarioriparius': 2,
 'Oryza sativa': 1,
 'Panicum hallii': 1,
 'Poa annua': 2,
 'Saccharum spontaneum': 4,
 'Secale cereale': 1,
 'Setaria italica': 1,
 'Setaria viridis': 1,
 'Sorghum bicolor': 1,
 'Thinopyrum elongatum': 1,
 'Triticum monococcum': 1,
 'Zea mays': 2,
 'Zizania latifolia': 2,
 'Joinvillea ascendens': 1,
 'Coix lacryma jobi': 2}

In [1]:
a = 3

In [2]:
import pandas as pd

In [17]:
df = pd.read_clipboard(header=None)

In [18]:
df

       0
0      5
1      5
2      5
3      5
4      5
5      5
6      5
7      5
8      5
9      5
10     5
11     5
12     5
13  4746
14  4888
15  4633
16  4717
17  4598
18  4433
19  4766
20  4766
21  4784
22  4688
23  4772
24  4866
25  4774
26  4599
27  4439
28  4523
29  4254
30  4261
31  4222
32  3944
33  4453
34  4292
35  4331
36  4304
37  4379
38  4251
39  4203
40  4253

In [19]:
sum(df[0])

126204